# This is Git's per-user configuration file.
[user]
	name = Daniel Hiller
	email = daniel.hiller.1972@gmail.com
[alias]
	l = log --format=oneline --abbrev-commit --graph --decorate
	s = status
	staged = diff --cached
	ll = log --abbrev-commit --graph --decorate
[color "diff"]
	whitespace = red reverse
[credential]
	UseHttpPath = true
[help]
	autocorrect = 30
[core]
	editor = vim
