autostart/
chromium/
dconf/
pulse/
sinew.in/
ibus/
enchant/     
gedit/      
libreoffice/
monitors.xml~
DisplayCAL/
Signal/
Unknown Organization/
autostart/BluejeansHelper.desktop
bluejeans-v2/
dleyna-server-service.conf
evolution/
gnome-gmail/
goa-1.0/
google-chrome/
gtk-3.0/settings.ini
gtk-4.0/
menus/
nautilus/
systemd/
totem/
viewnior/
zoomus.conf
mimeapps.list
monitors.xml
